@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10 mt-1">
                <h3 class="display-4">Система CRM</h3>
                <div class="project-item">
                    <p class="lead"><img src="~/img/crm.jpeg" alt="CRM" class="img-fluid mt-3 mb-3"></p>
                </div>
                <hr class="my-4">
                <p>Система учета выдачи и перемещения специальной одежды и средств индивидуальной защиты</p>
                <a href="#" class="btn btn btn-success">Начать</a>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
